body {
	background-color: rgb(220,220,220);
}
nav li a:hover {
	text-decoration: none;
}
nav {
	width: 100%;
	background-color: rgba(0,0,0,.9);
	box-shadow: 6px 6px 9px rgb(170,170,170);
	font-size: 24px;
}
nav li {
	display: inline-block;
	margin: 15px;
}
#welcome {
	text-align: center;
	margin: 15px;
	text-shadow: 5px 5px 10px grey;
}
#container {
	margin: 0 auto;
	width: 95%;
}
#slider img {
	height: 400px;
	display: block;
	margin: 0 auto;
	width: auto;
	border-radius: 12px;
	box-shadow: 20px 20px 30px #999999;
}
