@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Gudea);
@import url(http://fonts.googleapis.com/css?family=Bubbler+One);
@import url(http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps);

body {
	background-color: rgb(240,240,240);
}
nav li a:hover {
	text-decoration: none;
}
nav {
	width: 100%;
	background-color: rgba(0,0,0,.9);
	box-shadow: 6px 6px 9px rgb(170,170,170);
	font-size: 24px;
	font-family: "Raleway";
}
nav li {
	display: inline-block;
	margin: 15px;
}
#welcome {
	text-align: center;
	margin: 15px;
	text-shadow: 5px 5px 10px grey;
}
#welcome h2 {
	font-size: 90px;
	font-family: "Bilbo Swash Caps";
}
#container {
	margin: 0 auto;
	width: 95%;
}
#slider img {
	height: 400px;
	display: block;
	border: 3px solid #999;
	margin: 0 auto;
	width: auto;
	border-radius: 30px;
	box-shadow: 20px 20px 30px #999999;
}
footer {
	position: fixed;
	bottom: -13px;
	width: 100%;
	font-family: "Raleway";

}
